<div class="<%= message_content_class(message) %>">
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.userable.username %>
    </div>
  </div>
</div>
