<div class="answer right">
  <div class="avatar">
    <%= fa_icon "user", class: "fa-2x" %>
    <div class="status offline"></div>
  </div>
  <div class="name"><%= message.user.username %></div>
  <div class="text">
    <%= message.body %>
  </div>
  <div class="time"><%= message_time(message) %></div>
</div>
