<div>
  Chatting with <%= conversation.with(current_user).name %>
  <br>
  <em><%= last_message(conversation) %></em>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>
  <hr>
</div>
