<div class="row mb-3">
  <div class="col-6">
    <%= link_to aide_category.category.name, aides_path(category_id: aide_category.category.id) %><br>
    <%= aide_category.description %>
  </div>

  <div class="col-6">
    <% if @current_user == aide_category.aide %>
      <%= link_to 'Edit', edit_aide_category_path(aide_category), class: 'btn btn-info'  %>
      <%= link_to 'Delete', aide_category_path(aide_category), class: 'btn btn-info', method: :delete %>
    <% end %>
  </div>
</div>
