<%= form_tag aides_path, :method => 'get' do %>
  <div class="row">
    <div class="col-4">
      Select city
    </div>

    <div class="col-8">
      <%= select_tag(
        :city_id,
        options_for_select(['All'] + City.order(:name).pluck(:name, :id),
        :selected => @option),
        onchange: 'this.form.submit();',
        class: "form-control custom-select"
        )
      %>
    </div>
  </div>
 <% end %>
