<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
  <li>
    <a href="/aides" class="nav-link text-white">
      <div class="row justify-content-center">
        <%= fa_stacked_icon "dashboard", base: "square-o" %>
        Helpers
      </div>
    </a>
  </li>
  <li>
    <a href="/favourites" class="nav-link text-white">
      <div class="row justify-content-center">
        <%= fa_stacked_icon "star", base: "square-o" %>
        Stars
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link text-white">
      <div class="row justify-content-center">
        <%= fa_stacked_icon "bell", base: "square-o" %>
        Notifications
      </div>
    </a>
  </li>
  <li>
    <a href='/conversations' class="nav-link text-white">
      <div class="row justify-content-center">
        <%= fa_stacked_icon "envelope", base: "square-o" %>
        Messages
      </div>
    </a>
  </li>
</ul>
