<h4>Your requests</h4>

<div class="shadow m-3 p-3 mb-4">
  <h5>Pending requests</h5>
  <%= render @pending %>
</div>

<div class="shadow m-3 p-3 mb-4">
  <h5>In process requests</h5>
  <%= render @in_process %>
</div>

<div class="shadow m-3 p-3 mb-4">
  <h5>Done requests</h5>
  <%= render @done %>
</div>

<div class="shadow m-3 p-3 mb-4">
  <h5>Declined requests</h5>
  <%= render @declined %>
</div>
