.chat-room {
  overflow-y: hidden;

  .chat-box {
    position: absolute;
    width: 50vw;
    bottom: 0;
  }

  .message {
    display: inline-block;

    .content {
      background-color: #eeeeee;
      padding: 10px;
      border-radius: 15px;
    }

    .author {
      font-size: 0.8rem;
      color: #777777;
      margin-left: 10px;
    }
  }
}
