<%= form_for room do |f| %>
  <%= render "shared/errors", resource: room %>
  <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>

  <div class="">
    <%= f.submit 'Create', class: 'btn btn-primary btn-block mt-1' %>
  </div>
<% end %>
