<p>
  <%= location.city.name + ',' + location.address || '(No Address)' %>
  <%= link_to 'Edit', edit_location_path(location) %>
  <%= link_to 'Delete', location_path(location), method: :delete %>
</p>
